.container{
    display:flex;
}

.container-1{
    background-color:#f5faf8;
    width:600px;
    height:1000px;
}

.container-2{
    background-color:#4e4e55;

    width:1000px;
    height:1000px;
}

.aliner{
    display:flex;
    gap:2rem;
    margin-top:50px;
}

.name{
    font-size:xx-large;
    color:#4e4e55;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    order:2;
    margin:40px;
}

.profile{
    order:1;
}

