.container{
    display:flex;
}

.container-1{
    background-color:#cce6db;
    width:700px;
    height:1000px;
}

.container-2{
    background-color:#4e4e55;
    width:1000px;
    height:1000px;
}

.identify{
    display:flex;
    flex-direction: column;
    order:2;
}
.aliner{
    display:flex;
    gap:2rem;
    margin-top:50px;
}

.name{
    font-size:xx-large;
    color:#4e4e55;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:40px;
}

.profile{
    order:1;
}


.row1{
    display:flex;
    gap:6rem;
}

.row2{
    display:flex;
    gap:6rem;
}

.row3{
    display:flex;
    gap:6rem;
}

.info{
    font-size:large;
    color:#4e4e55;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    padding:0;
}

.contact{
    font-size:large;
    color:#4e4e55;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    padding:0;
}

